<div #modalDOM id="dishBox" class="modal my-modal-center" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header my-remove-border">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Главная</a></li>
                    <li><a href="#attributes" data-toggle="tab">Свойства</a></li>
                    <li><a href="#messages" data-toggle="tab">Сообщения</a></li>
                    <li><a href="#settings" data-toggle="tab">Настройки</a></li>
                </ul>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <h4>{{this.edited.name}}</h4>
                    </div>

                    <!--======= Свойства =========-->
                    <div class="tab-pane" id="attributes">
                        <div class="attr_panel">
                            <button type="button" class="btn btn-xs btn-success" (click)="addAttr()"> +</button>
                            <button type="button" class="btn btn-xs btn-danger" (click)="deleteAttrs()">&ndash;</button>
                        </div>
                        <table class="table attributes-table" style="width:500px;">

                            <tr *ngFor="let attribute of edited.attributes" id="attr_{{attribute.id}}">
                                <td>
                                    <input type="checkbox" (change)="deleteList(attribute)"
                                           [checked]="attribute.checked"/>
                                </td>
                                <td>{{attribute.name}}</td>
                                <td>

                                    <span id="{{idPrefixAttrShowValue + attribute.id}}"
                                          (click)="editAttrVal(attribute.id,attribute)"
                                    >
                                        {{attribute.value}}
                                        <span *ngIf="attribute.unit">{{attribute.unit}}</span>
                                    </span>

                                    <input id="{{idPrefixAttrInputValue + attribute.id}}"
                                           [(ngModel)]="attribute.value"
                                           (blur)="submitAttrVal(attribute.id)"
                                           (keyup.enter)="submitAttrVal(attribute.id)"
                                           (keyup.esc)="returnAttrVal(attribute.id)"
                                           type="text"
                                           style="display: none; width:50px; height: 20px;"
                                    />
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="tab-pane" id="messages">Сообщения</div>
                    <div class="tab-pane" id="settings">Натсройки</div>
                </div>
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <i>Замочек</i>
                <span>СтатусБар</span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" (click)="save()">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>